*.swp
.DS_Store
~*
*~
__pycache__
.ipynb_checkpoints
**/.ipynb_checkpoints

# Quarto
_site/
/.quarto/
**/*.quarto_ipynb

# Personal data not for publication
posts/2026-05-06-strava-fitness-and-race-pace/activities.json
